* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  background: black;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; 
  overflow:hidden;
}

#time{
  position: absolute;
  bottom: 0px;
  left: 0px;

}

#livestream{
  z-index: 0;
}