* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  background: black;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #ccc; 
  overflow:hidden;
}

#box{
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: #000;
  opacity: 0.7;
  border-radius:4px;
  padding-right: 10px;
}

#data{
  float: right;
}

#livestream{
  z-index: 0;
}

.country {
  fill: #eee;
  opacity: 0.1
}

#map{
  margin-right: 5px;
  font-family: monospace;
  color: white;
}

#time { font-size: 21px; }
#lat { font-size: 10px; }
#lng { font-size: 10px;margin: -2px 0px; }
#loc { font-size: 9px; }
#date { font-size: 14px; padding-top: 8px; }